/*Mobil*/

/*
section {
    margin-bottom: 70px;
}

#fifth_section img {
    height: 40vh;
}

#fifth_section .section_wrapper .col .top {
    padding-top: 10px;
}

#fifth_section .section_wrapper .col .top {
    padding-top: 10px;
}*/

/*Desktop Version*/

@media (min-width: 600px) {

    .container {
        display: grid;
    }

    img {
        width: 80%;
    }

    h1 {
        text-align: center;
        margin: 10;
        padding: inherit;
    }

    #medarbejder_1 .section_wrapper {
        display: grid;

        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
        padding-bottom: 20px;
    }

    #medarbejder_1 .section_wrapper .top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #medarbejder_2 .section_wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
        padding-bottom: 40px;
    }

    #medarbejder_2 .section_wrapper .top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #medarbejder_3 .section_wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
        padding-bottom: 40px;

    }

    #medarbejder_3 .section_wrapper .top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #medarbejder_4 .section_wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        padding-bottom: 40px;
    }

    #medarbejder_4 .section_wrapper .top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #medarbejder_5 .section_wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        margin-bottom: 150px;
        padding-bottom: 40px;

    }

    #medarbejder_5 .section_wrapper .top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
