#splach {
    max-width: none;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;

    background-size: cover;
    background-position: center;
    max-width: 1200px;
}


#splach .section_wrapper {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;

    text-align: right;
    color: white;
    margin-bottom: 4vw;
}

#splachimg {
    background-size: cover;
    position: absolute;
    z-index: -1;
    margin-top: 0;
    padding-top: 0;
}



/*--------------  proces sketionen ----------------*/

#proces .section_wrapper .col {
    text-align: center;
}


/*---------- nyhed skaltionen -------------------*/

#nyhed .bottom {
    background: rgba(157, 163, 154, 0.65);
    border-radius: 20px;
    padding: 20px;
}

.form-felt {
    margin-bottom: 1rem;
    font-weight: 800;

}

label {
    display: grid;
    justify-items: start;
    font-family: 'Titillium Web', sans-serif;

}

input {
    display: block;
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.7rem;
    padding: .5rem;
    padding-right: 7rem;
    border-radius: 4px;
    border: 0;
}

button {
    padding: .75rem 1rem;
    margin-top: 1.1rem;
    border: 0;
    border-radius: 10px;
    background: #111A0C;
    color: #f5faff;
    text-shadow: 0 0 6px rgb(0 0 0 / 40%);
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Ibarra Real Nova', serif;
}

button:hover {
    color: #809E4F;
}



@media only screen and (min-width: 600px) {

    /*--------------  proces sketionen ----------------*/
    #proces .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        padding: 10px;
    }


    #proces .section_wrapper .col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #proces #finder {
        padding-right: 20px;
    }

    #proces #pakker {
        padding-right: 10px;
        padding-left: 10px;
    }

    #proces #lavere {
        padding-left: 20px;
    }



    /*---------- nyhed skaltionen -------------------*/

    #nyhed .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;

    }


}
