/*------------- billede i baggrunden --------------*/

body {
    background: url(../billeder/chili_baggrund.png) no-repeat fixed top;
}


/*------------splach sketionen ---------*/

#splach {
    max-width: none;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(../billeder/splachbillede.jpg);
    background-size: cover;
    background-position: 55% 10%;
}

#splach .section_wrapper {
    grid-column-start: 2;
    grid-column-end: span 1;
    text-align: right;
    padding: 70px 20px;
}

#splach h1,
p {
    color: #f5faff;
    padding-right: 20px;
}



/*--------------  proces sketionen ----------------*/

#proces {
    background-image: url(../forside_billeder/bagrundsfarve.png);
    background-size: cover;
    max-width: none;
    width: 100%;
    height: 100vh;
}

#proces h1 {
    text-align: center;
    color: #f5faff;
    padding-top: 10px;
    margin-top: 0;
    font-size: 29px;
}

#proces .section_wrapper {
    padding-left: 30px;
    padding-right: 30px;
}


#proces .section_wrapper .col {
    text-align: center;
    margin-top: auto;
    padding: 30px 30px;
}

#proces img {
    width: 80%;

}

#proces #finder {
    padding-right: 20px;
    border-bottom: 3px solid #111A0C;
}

#proces #pakker {
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 3px solid #111A0C;
}

#proces #lavere {
    padding-left: 20px;
}



/*---------- nyhed skaltionen -------------------*/

#nyhed .section_wrapper {
    margin-top: 300px;
    margin-bottom: 150px;
    background: rgba(157, 163, 154, 0.65);
    border-radius: 20px;
}


#nyhed .bottom {
    padding: 20px;
    border-right: 3px solid #111A0C;
}

.form-felt {
    margin-bottom: 1rem;
    font-weight: 800;

}

label {
    display: grid;
    justify-items: start;
    font-family: 'Titillium Web', sans-serif;

}

input {
    display: block;
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.7rem;
    padding: .5rem;
    padding-right: 7rem;
    border-radius: 4px;
    border: 0;
    background-color: #f5faff;
}

button {
    padding: .75rem 1rem;
    margin-top: 1.1rem;
    border: 0;
    border-radius: 100px;
    background: #111A0C;
    color: #f5faff;
    text-shadow: 0 0 6px rgb(0 0 0 / 40%);
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Ibarra Real Nova', serif;
}

button:hover {
    color: #809E4F;
}



#nyhed .col_right {
    padding: 20px;
    border-left: 3px solid #111A0C;
}





@media only screen and (min-width: 600px) {



    #splach .section_wrapper {
        padding-right: 40px;

    }

    #splach_h1 {
        font-size: 7rem;
        margin-bottom: 0;
    }


    #splach {
        width: 100vw;
        height: 100vh;
    }

    #splach_p {
        font-size: 25px;
    }



    /*--------------  proces sketionen ----------------*/
    #proces .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        padding-top: 10px;
    }

    #proces h1 {
        text-align: center;
        color: #f5faff;
        padding-top: 120px;
        font-size: 3rem;

    }

    #proces .section_wrapper .col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 70px 30px;
    }

    #proces #finder {
        border-right: 3px solid #111A0C;
        border-bottom: 0;
    }

    #proces #pakker {
        border-right: 3px solid #111A0C;
        border-bottom: 0;
        padding-top: 0;
    }

    #levere {
        padding-top: 0;
    }

    #proces img {
        width: 80%;

    }



    /*---------- nyhed skaltionen -------------------*/

    #nyhed .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;

    }

    #nyhed p {
        color: black;
    }

}










/*------------- billede i baggrunden --------------*/

/*
body {
    background: url(../billeder/chili_baggrund.png) no-repeat fixed top;
}
*/


/*------------splach sketionen ---------*/

/*
#splach {
    max-width: none;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(../billeder/splachbillede.jpg);
    background-size: cover;
    background-position: 55% 10%;
}

#splach .section_wrapper {
    grid-column-start: 2;
    grid-column-end: span 1;
    text-align: right;
    padding: 70px 20px;
}

#splach .section_wrapper h1,
p {
    color: #f5faff;
    padding-right: 20px;
}
*/


/*--------------  proces sketionen ----------------*/

/*
#proces {
    background-image: url(../forside_billeder/bagrundsfarve.png);
    background-size: cover;
    max-width: none;
    width: 100%;
    height: 100vh;
}


#proces .section_wrapper {
    padding-left: 30px;
    padding-right: 30px;
}


#proces .section_wrapper .col {
    text-align: center;
    margin-top: auto;
    padding: 30px 30px;
}


#proces img {
    width: 80%;

}

#proces #finder {
    padding-right: 20px;
    border-bottom: 3px solid #111A0C;

}

#proces #pakker {
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 3px solid #111A0C;
}

#proces #lavere {
    padding-left: 20px;
}
*/

/*---------- nyhed skaltionen -------------------*/

/*
#nyhed .bottom {
    background: rgba(157, 163, 154, 0.65);
    border-radius: 20px;
    padding: 20px;
}

.form-felt {
    margin-bottom: 1rem;
    font-weight: 800;

}

label {
    display: grid;
    justify-items: start;
    font-family: 'Titillium Web', sans-serif;

}

input {
    display: block;
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.7rem;
    padding: .5rem;
    padding-right: 7rem;
    border-radius: 4px;
    border: 0;
}

button {
    padding: .75rem 1rem;
    margin-top: 1.1rem;
    border: 0;
    border-radius: 10px;
    background: #111A0C;
    color: #f5faff;
    text-shadow: 0 0 6px rgb(0 0 0 / 40%);
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Ibarra Real Nova', serif;
}

button:hover {
    color: #809E4F;
}



@media only screen and (min-width: 600px) {

    #splach .section_wrapper {
        padding-right: 40px;

    }

    #splach .section_wrapper h1 {
        font-size: 5em;
        margin-right: 0;
    }


    #splach {
        width: 100vw;
        height: 100vh;
    }

*/


/*--------------  proces sketionen ----------------*/
/*
    #proces .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;

        padding-top: 120px;
    }


    #proces .section_wrapper .col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 70px 30px;

    }

    #proces #finder {
        padding-right: 20px;
        border-right: 3px solid #111A0C;
        border-bottom: 0;
    }

    #proces #pakker {
        padding-right: 10px;
        padding-left: 10px;
        border-right: 3px solid #111A0C;
        border-bottom: 0;
    }

    #proces #lavere {
        padding-left: 20px;
    }

    #proces img {
        width: 100%;

    }
*/


/*---------- nyhed skaltionen -------------------*/

/*
    #nyhed .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;

    }


}
*/
