img {
    width: 100%;
    height: auto;
}

nav {
    z-index: 20;
}

body {
    margin: 0;
    background-color: rgba(157, 163, 154, 0.65);
}

header {
    background-color: #111A0C;
}


footer {
    background-color: #111A0C;
    height: auto;
}

html {
    font-size: 18px;
}

section {
    margin: 0 auto;
    max-width: 1200px;
}


/* hjemmsidens gennerale fonte til de forskellige overskrifter og brødtekst*/
/*
@font-face {
    font-family: 'frutigernextlt-light-webfont';
    src: url(font/frutigernextlt-light-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
*/


h1 {
    font-family: 'Ibarra Real Nova', serif;
    color: black;
    font-size: 3rem;
}

h2 {
    font-family: 'Ibarra Real Nova', serif;
    color: black;
    font-size: 1.7rem;
}

h3 {
    font-family: 'Ibarra Real Nova', serif;
    color: black;
    font-size: 1.3rem;
}

p {
    font-family: 'Titillium Web', sans-serif;
    color: black;
}


/*menu fane og dens design*/




.hidden {
    opacity: 0;
    cursor: pointer;
}

#menuknap_wrapper {
    display: flex;
    justify-content: flex-end;
    /*    width: 100%;*/
    padding-right: 30px;
}

.logo {
    width: 30%;
    padding-left: 20px;
    padding-top: 10px;
}


#menuknap {
    display: inline-block;
}

#menu {
    list-style-type: none;
    display: block;
}

#menu li {
    padding-bottom: 20px;
    padding-right: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: right;
    background-color: #111A0C;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
}


a:hover {
    color: #809E4F;
}


/* ------- burgermenu icon -----------*/
.bar1,
.bar2,
.bar3 {
    width: 34px;
    height: 5px;
    background-color: #f5faff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}



/*----------Fotteren og dens design--------------*/

#fotter_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
    grid-gap: 20px;
    background-color: #111A0C;
}

#fotter_section p {
    font-size: 15px;
}

#fotter_section .kontakt {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}

#fotter_section .adresse {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 1;
}

#fotter_section .om_ingwersen {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 2;
}

#fotter_section .sociale_medier {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 2;
}

#fotter_section .footer {
    /*    text-decoration-line: underline;*/
    line-height: 1.8;
    border-bottom-style: solid;
    border-bottom-color: #373e33;
    color: #f5faff;
}



.footer_h3 {
    color: #f5faff;

}





@media only screen and (min-width: 600px) {

    /*    ---------menu design-------*/

    #menuknap {
        display: none;
    }

    #menu.hidden {
        opacity: 1;
    }

    #menu li {
        display: inline-block;
        padding-left: 10px;
        padding-right: 40px;
        padding-bottom: 20px;
        box-shadow: none;
    }

    nav {
        display: block;
        text-align: right;
    }

    .logo {
        width: 20%;
    }

    /*-----------footer design ---------*/

    #fotter_section p {
        font-size: 18px;
    }

    #fotter_section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin-left: 100px;
        margin-right: 100px;
        grid-gap: 40px;
    }


    #fotter_section .kontakt {
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;
    }


    #fotter_section .adresse {
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;
    }


    #fotter_section .om_ingwersen {
        grid-column-start: 3;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;
    }


    #fotter_section .sociale_medier {
        grid-column-start: 4;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;
    }
}
