/*oplysninger*/

#oplysninger .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    margin: 10px;
    padding: 10px;
}

/*oplysninger*/


/*Forms*/

.form_holder {
    background-color: rgba(157, 163, 154, 0.65);
    width: 550px;
    height: 420px;
    border-radius: 20px;
    padding: 20px;
}
label,
input,
textarea,
select,
button {
    display: block;
    color: rgb(46, 69, 47);
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.7rem;
}
.form-felt {
    margin: 10px;
}
label {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 1.2rem;
    color: black;
}
input {
    border-radius: 5px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.20) inset;
    color: #666666;
    width: 217px;
    line-height: 30px;
    height: 30px;
    margin-bottom: 10px;
    border: 0;
    padding-left: 12px;
}
textarea {
    border-radius: 5px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.20) inset;
    color: #666666;
    width: 450px;
    height: 100px;
    line-height: 30px;
    margin-bottom: 10px;
    border: 0;
    padding-left: 12px;
}
.sendBtn {
    padding: .75rem 1rem;
    margin-top: 1.1rem;
    border: 0;
    border-radius: 10px;
    background: #111A0C;
    color: #f5faff;
    text-shadow: 0 0 6px rgb(0 0 0 / 40%);
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Ibarra Real Nova', serif;
}
button:hover {
    color: #809E4F;
}
tr {
    font-family: 'Titillium Web', sans-serif;
    color: black;
}
table {
    width: 300px;
    height: 20px;
}
h1 {
    margin: 10px;
    margin-left: 150px;
}

/*Forms*/


/*google*/

iframe {
    width: 1200px;
    height: 350px;
    border: 0;
}

/*google*/


/*Forms*/


/*Forms*/


/*Forms*/


/*Forms*/


/*Forms*/


/*Forms*/


/*Forms*/


/*Forms*/
