#splash {
    position: relative;
}
.txt {
    position: relative;
    background-color: rgba(255, 255, 255, 0.49);
    width: 700px;
    text-align: center;
    padding: 40px;
    margin: 10px;
    z-index: 10;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 300px;
}
.video {
    position: absolute;
    z-index: -1;
    width: 100%;
}
footer {
    position: relative;
    top: 500px;
}
