#splash {
    position: relative;
}
.txt {
    background-color: rgba(255, 255, 255, 0.49);
    width: 700px;
    text-align: center;
    padding: 40px;
    margin: 10px;
    z-index: 10;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
    margin: 10px;
}
